<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/docker/language/Container" 
       class = "org.eclipse.docker.language.container.ContainerPackage"
       genModel = "model/generated/Container.genmodel" /> 
	
  </extension>
  




   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tableModel -->
      <package
            uri="www.tContainer.com"
            class="org.eclipse.docker.language.TableModel.TableModelPackage"
            genModel="model/table/tableModel.genmodel"/>
   </extension>

</plugin>
